bpython==0.12
coverage==3.6
Django==1.6.2
django-braces==1.2.2
django-debug-toolbar==1.0.1
django-discover-runner==0.4
django-model-utils==1.5.0
docutils==0.11
Jinja2==2.7.2
logutils==0.3.3
Markdown==2.6.2
MarkupSafe==0.19
Pillow==2.8.1
psycopg2==2.6
Pygments==1.6
six==1.5.2
smartypants==1.8.6
South==1.0.2
Sphinx==1.2.1
sqlparse==0.1.11
typogrify==2.0.7
