{% extends "base_menu.html" %}
{% load itemtypes markup staticfiles %}

{% block title %}Wine and Beer Menu | {{ block.super }}{% endblock %}

{% block page_type %}list{% endblock %}

{% block extra_class%}alcohol{% endblock %}

{% block featured_image %}
	{% if alcohol_group.lead_image %}
		<img class="img-responsive" src="{{ MEDIA_URL }}{{ alcohol_group.lead_image }}" alt="">
	{% else %}
		<img class="img-responsive" src="{% static 'img/whole_cakes.png' %}" alt="">
	{% endif %}
{% endblock %}

{% block lead_content %}
<section id="about" class="row lead">
	<div class="col-md-8 col-md-offset-2">
		{{ alcohol_group.description|markup|safe }}
	</div>
</section>
{% endblock %}

{% block primary_content %}
<section id="menu_items" class="row">
	<div class="col-md-8 col-md-offset-2">
		<ul id="itemtype_list">
		{% for itemtype in alcohol_list %}
			<li class="itemtype">
				<h1 class="itemtype_title">{{ itemtype.title }}</h1>
				<p class="lead itemtype_description">{{ itemtype.description }}</p>
				<ul class="size_price_list">
				{% for size in itemtype.get_size_for_items %}
					<li class="sizeprice">{{ size.price }} <span class="separator"></span> {{ size.size }} {% if size.description %}({{ size.description }}){% endif %}</li>
				{% endfor %}
				</ul>
				<ul class="item_list">
				{% for item in itemtype.get_items_for_type %}
					<li class="item">
						<p class="item_details"><b>{{ item.name }}</b> <span class="separator"></span> {{ item.one_off_price }}</p>
						{% if item.description %}
						<p class="item_description"><i>{{ item.description|markup|safe|removetags:"p" }}</i></p>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}
